body {
  background-color: #ECECD4; }

section {
  width: 100%;
  height: 300px;
  background-color: #7D8587; }

img {
  text-align: center;
  margin: 0 auto; }

a:link, a:visited {
  color: #ECECD4;
  text-align: center;
  text-decoration: none; }

h1 {
  color: #FFFFFF;
  text-align: center;
  padding-top: 5%;
  font-size: 70px; }

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 35px; }

section {
  height: 750px; }

/* Main section */
#main-section #subtitle {
  font-size: 40px; }

#phone {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  width: 400px;
  color: white; }
  #phone span {
    color: #FEA100;
    font-size: 14px; }
  #phone h3 {
    font-size: 36px; }

h6 {
  font-size: 22px;
  color: #FFFFFF;
  font-family: 'Sintony', sans-serif;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 5px; }

/* Food menu section */
#food-menu, #happy-clients {
  height: 600px;
  background-color: white; }
  #food-menu ::-webkit-scrollbar, #happy-clients ::-webkit-scrollbar {
    width: 5px; }
  #food-menu ::-webkit-scrollbar-thumb, #happy-clients ::-webkit-scrollbar-thumb {
    background: #FE4C8D; }

.menu-dish-item {
  width: 531px;
  height: 297px;
  overflow: auto;
  flex-basis: 50%; }

.container {
  display: flex;
  justify-content: center;
  padding-top: 60px; }
  .container #dish-item {
    margin-right: 30px;
    font-weight: bold; }
    .container #dish-item span {
      float: right;
      font-size: 26px; }
    .container #dish-item .menu-dish-item {
      font-weight: bold; }
  .container #explore {
    margin-top: 30px;
    /* background-color: $orange;
        width: 190px; */ }
    .container #explore h5 {
      background-color: #FEA100;
      width: 190px;
      text-align: center;
      padding: 15px;
      font-family: 'Sintony', sans-serif;
      color: #FFFFFF;
      font-size: 14px; }
  .container .dish {
    padding-top: 10px;
    font-size: 16px;
    font-weight: bold; }
  .container h3 {
    padding-bottom: 20px;
    padding-top: 20px; }
  .container #today-special {
    width: 531px;
    display: flex; }
    .container #today-special #poster {
      width: 320px;
      height: 295px;
      box-shadow: 5px 10px 30px gray;
      background-color: #7D8587;
      box-sizing: border-box;
      position: absolute;
      top: 890px;
      right: 300px;
      margin-top: 20px; }
      .container #today-special #poster .small-poster {
        width: 320px;
        height: 335px;
        height: 125px;
        background-color: white;
        margin-top: 106px;
        margin-top: 65px; }
        .container #today-special #poster .small-poster .black-h6 {
          font-family: 'Playfair Display', serif;
          font-size: 22px;
          color: #14141D;
          text-align: left;
          padding: 20px; }
    .container #today-special h6 {
      font-size: 15px;
      color: #FFFFFF;
      font-family: 'Sintony', sans-serif;
      text-align: center; }
  .container #poster2 {
    width: 320px;
    height: 335px;
    box-shadow: 5px 10px 30px gray;
    background-color: #7D8587;
    box-sizing: border-box;
    position: absolute;
    top: 890px; }
    .container #poster2 .small-poster {
      width: 320px;
      height: 335px;
      height: 125px;
      background-color: white;
      margin-top: 106px; }
      .container #poster2 .small-poster .black-h6 {
        font-family: 'Playfair Display', serif;
        font-size: 22px;
        color: #14141D;
        text-align: left;
        padding: 20px;
        padding-left: 30px; }

/* Reserve section */
#reserve {
  height: 518px; }

header {
  position: fixed;
  top: 0;
  font-family: 'Sintony', sans-serif;
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
  width: 100%; }

#nav-container {
  width: 1169px;
  height: 50px;
  display: flex;
  justify-content: center;
  width: 100%; }
  #nav-container ul, #nav-container li {
    display: inline-block;
    font-size: 14px;
    padding-top: 3px;
    padding-left: 20px; }
  #nav-container .main-nav {
    display: flex;
    justify-content: space-around center;
    padding: 5px; }

h2 {
  color: #FEA100;
  text-align: center;
  padding-right: 20px;
  font-family: 'Playfair Display', serif;
  font-size: 33px;
  line-height: 17px; }
  h2 span {
    font-size: 18px;
    color: white;
    letter-spacing: 1px; }

#book {
  background-color: #FEA100;
  padding: 5px;
  color: #FFFFFF;
  border-radius: 4px;
  font-size: 14px;
  border-radius: 4px;
  margin-left: 40px; }
  #book #icon-plate {
    padding-left: 5px;
    padding-right: 5px; }
