header {

    position: fixed;
    top: 0;
    font-family: 'Sintony', sans-serif;
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    width: 100%;    
    
}

#nav-container {

    width: 1169px;
    height: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
  

        ul ,li {

            display: inline-block;
            font-size: 14px;
            padding-top: 3px;
            padding-left: 20px;
        
        }
        .main-nav {

            display: flex;
            justify-content: space-around center;
            padding: 5px;
        }

}

h2 {
    @include logo;
    line-height: 17px;

    span {

        font-size: 18px;
        color: white;
        letter-spacing: 1px;
    }
    
}

#book {

    @include btn;
   
    border-radius: 4px;
    margin-left: 40px;
        

    #icon-plate {

        padding-left: 5px;
        padding-right: 5px;
       

    }

   
}


